* @DataDog/system-tests-core

/utils/build/docker/cpp/ @DataDog/dd-trace-cpp @DataDog/system-tests-core
/utils/build/docker/dotnet*/ @DataDog/apm-dotnet @DataDog/asm-dotnet @DataDog/system-tests-core
/utils/build/docker/golang*/ @DataDog/dd-trace-go-guild @DataDog/system-tests-core
/utils/build/docker/java*/ @DataDog/apm-java @DataDog/asm-java @DataDog/system-tests-core
/utils/build/docker/java_otel/ @DataDog/opentelemetry @DataDog/system-tests-core
/utils/build/docker/nodejs*/ @DataDog/dd-trace-js @DataDog/system-tests-core
/utils/build/docker/php*/ @DataDog/apm-php @DataDog/system-tests-core
/utils/build/docker/python*/ @DataDog/apm-python @DataDog/asm-python @DataDog/system-tests-core
/utils/build/docker/ruby*/ @DataDog/ruby-guild @DataDog/asm-ruby @DataDog/system-tests-core
/utils/build/docker/rust*/ @DataDog/apm-rust @DataDog/system-tests-core

/utils/telemetry/intake/ @DataDog/apm-sdk-capabilities @DataDog/system-tests-core
/utils/telemetry/intake/static/ @DataDog/apm-sdk

/tests/parametric/ @DataDog/system-tests-core @DataDog/apm-sdk-capabilities
/tests/parametric/test_config_consistency.py @DataDog/apm-sdk-capabilities
/tests/otel_tracing_e2e/ @DataDog/opentelemetry @DataDog/system-tests-core
/tests/remote_config/ @DataDog/remote-config @DataDog/system-tests-core
/tests/appsec/ @DataDog/asm-libraries @DataDog/system-tests-core
/tests/debugger/ @DataDog/debugger @DataDog/system-tests-core
/tests/test_telemetry.py @DataDog/libdatadog-telemetry @DataDog/apm-sdk-capabilities @DataDog/system-tests-core
/tests/serverless @DataDog/serverless @DataDog/system-tests-core
/tests/external_processing/ @DataDog/asm-libraries @DataDog/system-tests-core
/tests/stream_processing_offload/ @DataDog/asm-libraries @DataDog/system-tests-core

/manifests/cpp.yml @DataDog/dd-trace-cpp
/manifests/dotnet.yml @DataDog/apm-dotnet @DataDog/asm-dotnet
/manifests/golang.yml @DataDog/dd-trace-go-guild
/manifests/java.yml @DataDog/asm-java @DataDog/apm-java
/manifests/nodejs.yml @DataDog/dd-trace-js
/manifests/php.yml @DataDog/apm-php @DataDog/asm-php
/manifests/python.yml @DataDog/apm-python @DataDog/asm-python
/manifests/ruby.yml @DataDog/ruby-guild @DataDog/asm-ruby
/manifests/rust.yml @DataDog/apm-rust

/.github/chainguard/** @DataDog/system-tests-core # Security sensitive
