venv/
.git/
**/.idea/
**/.vs/
**/.vscode/
vendor
logs*
shell.nix
__pycache__
scenario_groups.yml
/binaries/**/.git/config

# Materialized build context for utils/base_images/build_base_images.py
/.base_image_build/
/.base_images_build/

# dotnet
**/dotnet/**/bin/
**/dotnet/**/obj/
**/dotnet/**/packages/
**/dotnet/**/out/
**/dotnet/**/*.user
**/dotnet/**/*.suo
/system-tests.sln
