.idea
.env
.envrc
.direnv
__pycache__
binaries/*
!binaries/README.md

venv
venv.
/vendor/python
system_tests.egg-info/

.python-version

# tools for http tunneling
ngrok

logs*/

.DS_store

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
/[Bb]in/
[Oo]bj/
[Ll]og/
dist/
.report.json

!lib-injection/build/docker/ruby/lib_injection_rails_app/bin
!utils/build/docker/ruby/rails52/bin

.ionide/

# Visual Studio
.vs/
**/dotnet/**/*.user
**/dotnet/**/*.suo
*.DotSettings.user

# .NET SDK
**/dotnet/**/bin/
**/dotnet/**/obj/
**/dotnet/**/packages/
**/dotnet/**/out/
**/.config/dotnet-tools.json

# Created automatically by vscode's C# extension
/system-tests.sln

# Node.js
node_modules/

# vim
/*.vim
*.swp
*.swo

utils/build/docker/*/parametric/Dockerfile

# debugger
/tests/debugger/approvals/**/*received*
.aider*

# version check
version-check-output/

tmp/

# Go
go.work*
