# default behavior for line endings in text files
* text=auto

# Set line endings in *.sh files to LF, even on Windows.
# Otherwise, execution within Docker fails on a Windos host.
# See https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
*.sh text eol=lf

# Stop hiding directories called "build" in the github file search
# https://docs.github.com/en/search-github/searching-on-github/finding-files-on-github#customizing-excluded-files
build/** linguist-generated=false
