# Unless explicitly stated otherwise all files in this repository are licensed under the the Apache License Version 2.0.
# This product includes software developed at Datadog (https://www.datadoghq.com/).
# Copyright 2021 Datadog, Inc.

version: "2.4"
services:
  agent_proxy:
    container_name: agent_proxy
    image: mitmproxy/mitmproxy
    environment:
      - DD_API_KEY
      - INTERFACE_NAME=agent
      - FORWARD_TO_HOST=runner
      - FORWARD_TO_PORT=8081
      - INITIAL_PROXY_STATE=${SYSTEMTESTS_AGENT_PROXY_STATE:-}
    volumes:
      - ./utils/proxy/:/system-tests/utils/proxy/
    command:  mitmdump -p 8082 --set confdir=/system-tests/utils/proxy/.mitmproxy -s /system-tests/utils/proxy/forwarder.py
    ports:
      - "127.0.0.1:8082:8082"

  library_proxy:
    container_name: library_proxy
    image: mitmproxy/mitmproxy
    environment:
      - DD_API_KEY
      - INTERFACE_NAME=library
      - FORWARD_TO_HOST=runner
      - FORWARD_TO_PORT=8081
      - INITIAL_PROXY_STATE=${SYSTEMTESTS_LIBRARY_PROXY_STATE:-}
    volumes:
      - ./utils/proxy/:/system-tests/utils/proxy/
    command: mitmdump -v -p ${HIDDEN_APM_PORT_OVERRIDE:-8126} --mode reverse:http://agent:${HIDDEN_APM_PORT_OVERRIDE:-8126}/  -s /system-tests/utils/proxy/forwarder.py

  weblog:
    container_name: weblog
    image: system_tests/weblog
    env_file:
      - ./${SYSTEMTESTS_LOG_FOLDER:-logs}/.weblog.env
    environment:
      - DD_AGENT_HOST
      - DD_TRACE_AGENT_PORT
      - DD_APM_RECEIVER_SOCKET
      - SYSTEMTESTS_SCENARIO=${SYSTEMTESTS_SCENARIO:-DEFAULT}
      - SYSTEMTESTS_VARIATION=${SYSTEMTESTS_VARIATION:-DEFAULT}
    volumes:
      - ./${SYSTEMTESTS_LOG_FOLDER:-logs}/docker/weblog/logs/:/var/log/system-tests
    ports:
      - "127.0.0.1:7777:7777"
      - "127.0.0.1:7778:7778"
    depends_on:
      runner:
        condition: service_healthy
      agent:
        condition: service_healthy
      cassandra_db:
        condition: service_started
      mongodb:
        condition: service_started

  cassandra_db:
    container_name: cassandra
    image: cassandra:latest
    restart: always
    ports:
      - "127.0.0.1:9042:9042"

  mongodb:
    container_name: mongodb
    image: mongo:latest
    restart: always
    ports:
      - "127.0.0.1:27017:27017"
  
  agent:
    container_name: agent
    image: system_tests/agent
    healthcheck:
      test: ["CMD", "curl", "-f", "http://agent:${HIDDEN_APM_PORT_OVERRIDE:-8126}/info"]
      interval: 1s
      start_period: 5s
      retries: 60
    environment:
      - DD_API_KEY
      - DD_ENV=system-tests
      - DD_SITE=${DD_SITE:-datad0g.com}
      # - DD_URL=https://app.datad0g.com
      - DD_APM_RECEIVER_PORT=${HIDDEN_APM_PORT_OVERRIDE:-8126}
      - DD_DOGSTATSD_PORT=${HIDDEN_DSD_PORT_OVERRIDE:-8125}
    depends_on:
      runner:
        condition: service_healthy
      agent_proxy:
        condition: service_started
      library_proxy:
        condition: service_started

  runner:
    container_name: runner
    image: system_tests/runner
    healthcheck:
      test: ["CMD", "curl", "-f", "http://runner:8081/health"]
      interval: 1s
      start_period: 5s
      retries: 25
    environment:
      - DD_API_KEY
      - DD_APPLICATION_KEY=${DD_APPLICATION_KEY:-}
      - COLUMNS=${COLUMNS:-120}
      - PYTHONPATH=/app
      - DD_SITE=${DD_SITE:-datad0g.com}
      # - DD_URL=https://app.datad0g.com
      - SYSTEM_TESTS_AGENT_DD_APM_RECEIVER_PORT=${HIDDEN_APM_PORT_OVERRIDE:-8126} # need to know where is the agent
      - SYSTEMTESTS_SCENARIO=${SYSTEMTESTS_SCENARIO:-DEFAULT}
    volumes:
      - ./pytest.ini:/app/pytest.ini
      - ./conftest.py:/app/conftest.py
      - ./tests/:/app/tests/
      - ./utils/:/app/utils/
      - ./${SYSTEMTESTS_LOG_FOLDER:-logs}/:/app/logs/
      - ./scenarios/:/app/scenarios/
      - /var/run/docker.sock:/var/run/docker.sock
    command: ${RUNNER_CMD:-pytest} ${RUNNER_ARGS:-}
