[Unit]
Description=Nodejs Weblog App Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=MY_USER
Group=MY_USER

Type=simple

Environment=DD_CONFIG_SOURCES=BASIC
Environment=DD_INJECT_DEBUG=TRUE
WorkingDirectory=/home/MY_USER
ExecStart=/bin/bash -c 'node index.js'
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target