[Unit]
Description=Java Weblog App Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=MY_USER
Group=MY_USER

Type=simple

Environment=DD_CONFIG_SOURCES=BASIC
Environment=DD_APM_INSTRUMENTATION_DEBUG=TRUE
WorkingDirectory=/home/MY_USER
ExecStart=/bin/bash -c 'java -Dserver.port=5985 -jar k8s-lib-injection-app-0.0.1-SNAPSHOT.jar'
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target