tests/:
  apm_tracing_e2e/:
    test_otel.py:
      Test_Otel_Span: missing_feature (missing /e2e_otel_span endpoint on weblog)
    test_single_span.py:
      Test_SingleSpan: missing_feature (missing /e2e_otel_span endpoint on weblog)
  appsec/:
    api_security/:
      test_api_security_rc.py: irrelevant (ASM is not implemented in C++)
      test_apisec_sampling.py: irrelevant (ASM is not implemented in C++)
      test_schemas.py: irrelevant (ASM is not implemented in C++)
    iast/:
      sink/:
        test_code_injection.py: irrelevant (ASM is not implemented in C++)
        test_command_injection.py: irrelevant (ASM is not implemented in C++)
        test_hardcoded_passwords.py: irrelevant (ASM is not implemented in C++)
        test_hardcoded_secrets.py: irrelevant (ASM is not implemented in C++)
        test_header_injection.py: irrelevant (ASM is not implemented in C++)
        test_hsts_missing_header.py: irrelevant (ASM is not implemented in C++)
        test_insecure_auth_protocol.py: irrelevant (ASM is not implemented in C++)
        test_insecure_cookie.py: irrelevant (ASM is not implemented in C++)
        test_ldap_injection.py: irrelevant (ASM is not implemented in C++)
        test_no_httponly_cookie.py: irrelevant (ASM is not implemented in C++)
        test_no_samesite_cookie.py: irrelevant (ASM is not implemented in C++)
        test_nosql_mongodb_injection.py: irrelevant (ASM is not implemented in C++)
        test_path_traversal.py: irrelevant (ASM is not implemented in C++)
        test_reflection_injection.py: irrelevant (ASM is not implemented in C++)
        test_sql_injection.py: irrelevant (ASM is not implemented in C++)
        test_ssrf.py: irrelevant (ASM is not implemented in C++)
        test_template_injection.py: irrelevant (ASM is not implemented in C++)
        test_trust_boundary_violation.py: irrelevant (ASM is not implemented in C++)
        test_untrusted_deserialization.py: irrelevant (ASM is not implemented in C++)
        test_unvalidated_redirect.py: irrelevant (ASM is not implemented in C++)
        test_unvalidated_redirect_forward.py: irrelevant (ASM is not implemented in C++)
        test_weak_cipher.py: irrelevant (ASM is not implemented in C++)
        test_weak_hash.py: irrelevant (ASM is not implemented in C++)
        test_weak_randomness.py: irrelevant (ASM is not implemented in C++)
        test_xcontent_sniffing.py: irrelevant (ASM is not implemented in C++)
        test_xpath_injection.py: irrelevant (ASM is not implemented in C++)
        test_xss.py: irrelevant (ASM is not implemented in C++)
      source/:
        test_body.py: irrelevant (ASM is not implemented in C++)
        test_cookie_name.py: irrelevant (ASM is not implemented in C++)
        test_cookie_value.py: irrelevant (ASM is not implemented in C++)
        test_graphql_resolver.py: irrelevant (ASM is not implemented in C++)
        test_header_name.py: irrelevant (ASM is not implemented in C++)
        test_header_value.py: irrelevant (ASM is not implemented in C++)
        test_kafka_key.py: irrelevant (ASM is not implemented in C++)
        test_kafka_value.py: irrelevant (ASM is not implemented in C++)
        test_multipart.py: irrelevant (ASM is not implemented in C++)
        test_parameter_name.py: irrelevant (ASM is not implemented in C++)
        test_parameter_value.py: irrelevant (ASM is not implemented in C++)
        test_path.py: irrelevant (ASM is not implemented in C++)
        test_path_parameter.py: irrelevant (ASM is not implemented in C++)
        test_uri.py: irrelevant (ASM is not implemented in C++)
    rasp/:
      test_cmdi.py: irrelevant (ASM is not implemented in C++)
      test_lfi.py: irrelevant (ASM is not implemented in C++)
      test_shi.py: irrelevant (ASM is not implemented in C++)
      test_sqli.py: irrelevant (ASM is not implemented in C++)
      test_ssrf.py: irrelevant (ASM is not implemented in C++)
    waf/:
      test_addresses.py: irrelevant (ASM is not implemented in C++)
      test_blocking.py: irrelevant (ASM is not implemented in C++)
      test_custom_rules.py: irrelevant (ASM is not implemented in C++)
      test_exclusions.py: irrelevant (ASM is not implemented in C++)
      test_miscs.py: irrelevant (ASM is not implemented in C++)
      test_reports.py: irrelevant (ASM is not implemented in C++)
      test_rules.py: irrelevant (ASM is not implemented in C++)
      test_telemetry.py: irrelevant (ASM is not implemented in C++)
    test_alpha.py: irrelevant (ASM is not implemented in C++)
    test_asm_standalone.py: irrelevant (ASM is not implemented in C++)
    test_automated_login_events.py: irrelevant (ASM is not implemented in C++)
    test_blocking_addresses.py: irrelevant (ASM is not implemented in C++)
    test_client_ip.py: irrelevant (ASM is not implemented in C++)
    test_conf.py: irrelevant (ASM is not implemented in C++)
    test_customconf.py: irrelevant (ASM is not implemented in C++)
    test_event_tracking.py: irrelevant (ASM is not implemented in C++)
    test_fingerprinting.py: irrelevant (ASM is not implemented in C++)
    test_identify.py: irrelevant (ASM is not implemented in C++)
    test_ip_blocking_full_denylist.py: irrelevant (ASM is not implemented in C++)
    test_logs.py: irrelevant (ASM is not implemented in C++)
    test_metastruct.py: irrelevant (ASM is not implemented in C++)
    test_rate_limiter.py: irrelevant (ASM is not implemented in C++)
    test_remote_config_rule_changes.py: irrelevant (ASM is not implemented in C++)
    test_reports.py: irrelevant (ASM is not implemented in C++)
    test_request_blocking.py: irrelevant (ASM is not implemented in C++)
    test_runtime_activation.py: irrelevant (ASM is not implemented in C++)
    test_shell_execution.py: irrelevant (ASM is not implemented in C++)
    test_suspicious_attacker_blocking.py: irrelevant (ASM is not implemented in C++)
    test_traces.py: irrelevant (ASM is not implemented in C++)
    test_user_blocking_full_denylist.py: irrelevant (ASM is not implemented in C++)
    test_versions.py: irrelevant (ASM is not implemented in C++)
  debugger/:
    test_debugger_exception_replay.py:
      Test_Debugger_Exception_Replay: irrelevant
    test_debugger_expression_language.py:
      Test_Debugger_Expression_Language: irrelevant
    test_debugger_pii.py:
      Test_Debugger_PII_Redaction: irrelevant
    test_debugger_probe_snapshot.py:
      Test_Debugger_Line_Probe_Snaphots: irrelevant
      Test_Debugger_Method_Probe_Snaphots: irrelevant
      Test_Debugger_Mix_Log_Probe: irrelevant
    test_debugger_probe_status.py:
      Test_Debugger_Probe_Statuses: irrelevant
  integrations/:
    crossed_integrations/:
      test_kafka.py:
        Test_Kafka: missing_feature
      test_kinesis.py:
        Test_Kinesis_PROPAGATION_VIA_MESSAGE_ATTRIBUTES: missing_feature
      test_rabbitmq.py:
        Test_RabbitMQ_Trace_Context_Propagation: missing_feature
      test_sns_to_sqs.py:
        Test_SNS_Propagation: missing_feature (Endpoint not implemented)
      test_sqs.py:
        Test_SQS_PROPAGATION_VIA_AWS_XRAY_HEADERS:
          "*": missing_feature (Endpoint not implemented)
        Test_SQS_PROPAGATION_VIA_MESSAGE_ATTRIBUTES:
          "*": missing_feature (Endpoint not implemented)
    test_db_integrations_sql.py:
      Test_MsSql: missing_feature
      Test_MySql: missing_feature
      Test_Postgres: missing_feature
    test_dbm.py:
      Test_Dbm: missing_feature
    test_dsm.py:
      Test_DsmContext_Extraction_Base64: missing_feature
      Test_DsmContext_Injection_Base64: missing_feature
      Test_DsmHttp: missing_feature
      Test_DsmKafka: missing_feature
      Test_DsmKinesis: missing_feature
      Test_DsmRabbitmq: missing_feature
      Test_DsmRabbitmq_FanoutExchange: missing_feature
      Test_DsmRabbitmq_TopicExchange: missing_feature
      Test_DsmSNS: missing_feature
      Test_DsmSQS: missing_feature
      Test_Dsm_Manual_Checkpoint_Inter_Process: missing_feature
      Test_Dsm_Manual_Checkpoint_Intra_Process: missing_feature
    test_inferred_proxy.py:
      Test_AWS_API_Gateway_Inferred_Span_Creation: missing_feature
    test_otel_drop_in.py:
      Test_Otel_Drop_In: missing_feature
  parametric/:
    test_128_bit_traceids.py:
      Test_128_Bit_Traceids: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_config_consistency.py:
      Test_Config_RateLimit: v1.1.0
      Test_Config_TraceAgentURL: v1.1.0
      Test_Config_TraceEnabled: v1.1.0
      Test_Config_TraceLogDirectory: missing_feature
      Test_Config_UnifiedServiceTagging: v1.1.0
    test_crashtracking.py: missing_feature
    test_headers_b3multi.py:
      Test_Headers_B3multi: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_headers_baggage.py:
      Test_Headers_Baggage: missing_feature
    test_headers_datadog.py:
      Test_Headers_Datadog: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_headers_none.py:
      Test_Headers_None: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_headers_precedence.py:
      Test_Headers_Precedence: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_headers_tracecontext.py:
      Test_Headers_Tracecontext: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_headers_tracestate_dd.py:
      Test_Headers_Tracestate_DD: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_otel_api_interoperability.py: irrelevant (library does not implement OpenTelemetry)
    test_otel_env_vars.py:
      Test_Otel_Env_Vars: missing_feature
    test_otel_span_methods.py: irrelevant (library does not implement OpenTelemetry)
    test_otel_span_with_baggage.py:
      Test_Otel_Span_With_Baggage: missing_feature
    test_parametric_endpoints.py:
      Test_Parametric_DDSpan_Add_Link: missing_feature (add_link endpoint is not implemented)
      Test_Parametric_DDSpan_Set_Error: bug (APMAPI-778)  # The expected error status is not set
      Test_Parametric_DDSpan_Set_Metric: missing_feature (Tracer does not provide a public method for directly setting a span metric)
      Test_Parametric_DDSpan_Set_Resource: missing_feature (set_resource endpoint is not implemented)
      Test_Parametric_DDSpan_Start: bug (APMAPI-778)  # Cpp parametric app does not support creating a child span from a finished span
      Test_Parametric_DDTrace_Baggage: missing_feature (baggage is not supported)
      Test_Parametric_DDTrace_Config: missing_feature (config endpoint is not implemented)
      Test_Parametric_DDTrace_Crash: missing_feature (crash endpoint is not implemented)
      Test_Parametric_DDTrace_Current_Span: missing_feature (current_span endpoint is not implemented)
      Test_Parametric_DDTrace_Extract_Headers: missing_feature (extract_headers endpoint is not implemented)
      # cpp tracer does not support the OpenTelemetry API, otel parametric endpoints are not implemented
      Test_Parametric_OtelSpan_End: missing_feature (otel api is not supported)
      Test_Parametric_OtelSpan_Events: missing_feature (otel api is not supported)
      Test_Parametric_OtelSpan_Is_Recording: missing_feature (otel api is not supported)
      Test_Parametric_OtelSpan_Set_Attribute: missing_feature (otel api is not supported)
      Test_Parametric_OtelSpan_Set_Name: missing_feature (otel api is not supported)
      Test_Parametric_OtelSpan_Set_Status: missing_feature (otel api is not supported)
      Test_Parametric_OtelSpan_Start: missing_feature (otel api is not supported)
      Test_Parametric_Otel_Baggage: missing_feature (otel api is not supported)
      Test_Parametric_Otel_Current_Span: missing_feature (otel api is not supported)
      Test_Parametric_Otel_Trace_Flush: missing_feature (otel api is not supported)
    test_partial_flushing.py:
      Test_Partial_Flushing: missing_feature
    test_sampling_delegation.py:
      Test_Decisionless_Extraction: missing_feature (parametric app does not support trace/span/extract endpoint)
    test_span_events.py: missing_feature
    test_span_links.py: missing_feature
    test_telemetry.py:
      Test_Consistent_Configs: missing_feature
      Test_TelemetryInstallSignature: missing_feature
      Test_TelemetrySCAEnvVar: missing_feature
    test_tracer.py:
      Test_TracerSCITagging: missing_feature
    test_tracer_flare.py: missing_feature
  remote_config/:
    test_remote_configuration.py:
      Test_RemoteConfigurationExtraServices: missing_feature
      Test_RemoteConfigurationUpdateSequenceASMDD: missing_feature
      Test_RemoteConfigurationUpdateSequenceASMDDNoCache: missing_feature
      Test_RemoteConfigurationUpdateSequenceFeatures: missing_feature
      Test_RemoteConfigurationUpdateSequenceFeaturesNoCache: missing_feature
      Test_RemoteConfigurationUpdateSequenceLiveDebugging: missing_feature
      Test_RemoteConfigurationUpdateSequenceLiveDebuggingNoCache: missing_feature
  serverless/:
    span_pointers/:
      aws/:
        test_s3_span_pointers.py:
          Test_CopyObject: missing_feature
          Test_MultipartUpload: missing_feature
          Test_PutObject: missing_feature
  stats/:
    test_miscs.py:
      Test_Miscs: missing_feature
    test_stats.py:
      Test_Client_Stats: missing_feature
  test_config_consistency.py:
    Test_Config_ClientIPHeader_Configured: missing_feature (DD_TRACE_CLIENT_IP_HEADER not implemented)
    Test_Config_ClientIPHeader_Precedence: missing_feature (http.client_ip is not supported)
    Test_Config_ClientTagQueryString_Configured: missing_feature
    Test_Config_ClientTagQueryString_Empty: missing_feature (test can not capture span with the expected http.url tag)
    Test_Config_HttpClientErrorStatuses_Default: missing_feature
    Test_Config_HttpClientErrorStatuses_FeatureFlagCustom: missing_feature
    Test_Config_HttpServerErrorStatuses_Default: missing_feature
    Test_Config_HttpServerErrorStatuses_FeatureFlagCustom: missing_feature
    Test_Config_IntegrationEnabled_False: missing_feature
    Test_Config_IntegrationEnabled_True: missing_feature
    Test_Config_ObfuscationQueryStringRegexp_Configured: missing_feature
    Test_Config_ObfuscationQueryStringRegexp_Empty: missing_feature
    Test_Config_UnifiedServiceTagging_CustomService: missing_feature
    Test_Config_UnifiedServiceTagging_Default: missing_feature
  test_distributed.py:
    Test_DistributedHttp: missing_feature
    Test_Span_Links_Flags_From_Conflicting_Contexts: missing_feature (implementation specs have not been determined)
    Test_Span_Links_From_Conflicting_Contexts: missing_feature
    Test_Span_Links_From_Conflicting_Contexts_Datadog_Precedence: missing_feature
    Test_Span_Links_Omit_Tracestate_From_Conflicting_Contexts: missing_feature (implementation specs have not been determined)
  test_identify.py: irrelevant
  test_library_conf.py: irrelevant
  test_miscs.py: irrelevant
  test_scrubbing.py: irrelevant
  test_span_events.py: missing_feature (Weblog `/add_event` not implemented)
  test_standard_tags.py: irrelevant
  test_telemetry.py:
    Test_Log_Generation: missing_feature
    Test_MessageBatch: missing_feature
    Test_Metric_Generation_Enabled: missing_feature
    Test_ProductsDisabled: irrelevant
    Test_TelemetrySCAEnvVar: missing_feature
