---
# For features that are not yet available in the latest release,
# please specify a version greater than the current release using `>`.
# DO NOT SPECIFY A NON EXISTING RELEASE.
#
# For example, if the latest release is `v1.0.0` and a feature like Baggage
# is only supported on the `main` branch and in the upcoming release,
# use `>1.0.0` to indicate that requirement.
manifest:
  tests/parametric/test_128_bit_traceids.py::Test_128_Bit_Traceids: ">1.0.0"
  tests/parametric/test_config_consistency.py::Test_Config_Dogstatsd: "missing_feature"
  tests/parametric/test_config_consistency.py::Test_Config_RateLimit: ">1.0.0"
  tests/parametric/test_config_consistency.py::Test_Config_Tags: ">=2.0.0"
  tests/parametric/test_config_consistency.py::Test_Config_TraceAgentURL: ">1.0.0"
  tests/parametric/test_config_consistency.py::Test_Config_TraceEnabled: ">1.0.0"
  tests/parametric/test_config_consistency.py::Test_Config_TraceLogDirectory: "missing_feature"
  tests/parametric/test_config_consistency.py::Test_Config_UnifiedServiceTagging: ">1.0.0"
  tests/parametric/test_config_consistency.py::Test_Stable_Config_Default: "missing_feature"
  tests/parametric/test_config_consistency.py::Test_Stable_Config_Rules: "missing_feature"
  tests/parametric/test_crashtracking.py: "missing_feature"
  tests/parametric/test_dynamic_configuration.py::TestDynamicConfigV1_EmptyServiceTargets: ">1.0.0"
  tests/parametric/test_feature_flag_exposure/test_feature_flag_exposure.py::Test_Feature_Flag_Exposure: "missing_feature"
  tests/parametric/test_headers_b3multi.py::Test_Headers_B3multi: ">1.0.0"
  tests/parametric/test_headers_baggage.py::Test_Headers_Baggage: "missing_feature"
  tests/parametric/test_headers_baggage.py::Test_Headers_Baggage_Span_Tags: "missing_feature"
  tests/parametric/test_headers_datadog.py::Test_Headers_Datadog: ">1.0.0"
  tests/parametric/test_headers_none.py::Test_Headers_None: ">1.0.0"
  tests/parametric/test_headers_precedence.py::Test_Headers_Precedence: ">1.0.0"
  tests/parametric/test_headers_tracecontext.py::Test_Headers_Tracecontext: ">1.0.0"
  tests/parametric/test_headers_tracestate_dd.py::Test_Headers_Tracestate_DD: ">1.0.0"
  tests/parametric/test_otel_api_interoperability.py: "irrelevant (library does not implement OpenTelemetry)"
  tests/parametric/test_otel_env_vars.py::Test_Otel_Env_Vars: "missing_feature"
  tests/parametric/test_otel_logs.py: "missing_feature"
  tests/parametric/test_otel_metrics.py: "missing_feature"
  tests/parametric/test_otel_span_methods.py: "irrelevant (library does not implement OpenTelemetry)"
  tests/parametric/test_otel_span_with_baggage.py::Test_Otel_Span_With_Baggage: "missing_feature"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDSpan_Add_Link: "missing_feature (add_link is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDSpan_Set_Error: "bug (APMAPI-778)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDSpan_Set_Metric: "missing_feature (Tracer does not provide a public method for directly setting a span metric)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDSpan_Set_Resource: "incomplete_test_app (set_resource endpoint is not implemented)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDSpan_Start: ">=2.0.0"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDTrace_Baggage: "missing_feature (baggage is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDTrace_Config: ">=2.0.0"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDTrace_Crash: "incomplete_test_app (crash endpoint is not implemented)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDTrace_Current_Span: "incomplete_test_app (current_span endpoint is not implemented)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_DDTrace_Extract_Headers: ">1.0.0"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_FFE_Start: "missing_feature"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_End: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_Events: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_Is_Recording: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_Set_Attribute: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_Set_Name: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_Set_Status: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_OtelSpan_Start: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Otel_Baggage: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Otel_Current_Span: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Otel_Trace_Flush: "missing_feature (otel api is not supported)"
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Write_Log: "missing_feature"
  tests/parametric/test_partial_flushing.py::Test_Partial_Flushing: "missing_feature"
  tests/parametric/test_process_discovery.py::Test_ProcessDiscovery: ">1.0.0"
  tests/parametric/test_sampling_delegation.py::Test_Decisionless_Extraction: ">1.0.0"
  tests/parametric/test_sampling_span_tags.py::Test_Knuth_Sample_Rate: "missing_feature"
  tests/parametric/test_span_events.py: "missing_feature"
  tests/parametric/test_span_links.py: "missing_feature"
  tests/parametric/test_telemetry.py::Test_Consistent_Configs: "missing_feature"
  tests/parametric/test_telemetry.py::Test_Stable_Configuration_Origin: "missing_feature"
  tests/parametric/test_telemetry.py::Test_TelemetryInstallSignature: ">1.0.0"
  tests/parametric/test_telemetry.py::Test_TelemetrySCAEnvVar: "missing_feature"
  tests/parametric/test_telemetry.py::Test_TelemetrySSIConfigs: "missing_feature"
  tests/parametric/test_tracer.py::Test_TracerSCITagging: "missing_feature"
  tests/parametric/test_tracer_flare.py: "missing_feature"
  tests/test_feature_flag_exposures.py::Test_FFE_Exposure_Events: "missing_feature"
  tests/test_telemetry.py::Test_TelemetryEnhancedConfigReporting: "missing_feature"
