# yaml-language-server: $schema=https://raw.githubusercontent.com/DataDog/system-tests/refs/heads/main/utils/manifest/schema.json
---
# Important note : version specified in this file are httpd-datadog version
# you can find the list of existing version here : https://github.com/DataDog/httpd-datadog/releases
#
# For features that are not yet available in the latest release,
# please specify a version greater than the current release using `>`.
# DO NOT SPECIFY A NON EXISTING RELEASE.
#
# For example, if the latest release is `v1.0.0` and a feature like Baggage
# is only supported on the `main` branch and in the upcoming release,
# use `>1.0.0` to indicate that requirement.
manifest:
  tests/ai_guard/test_ai_guard_sdk.py::Test_ContentParts: missing_feature
  tests/ai_guard/test_ai_guard_sdk.py::Test_Evaluation: missing_feature
  tests/ai_guard/test_ai_guard_sdk.py::Test_Full_Response_And_Tags: missing_feature
  tests/ai_guard/test_ai_guard_sdk.py::Test_RootSpanUserKeep: missing_feature
  tests/ai_guard/test_ai_guard_sdk.py::Test_SDK_Disabled: missing_feature
  tests/apm_tracing_e2e/: missing_feature (missing /e2e_otel_span endpoint on weblog)
  tests/appsec/: irrelevant (ASM is not implemented in C++)
  tests/appsec/test_only_python.py::Test_ImportError: irrelevant (specific tests for python tracer)
  tests/appsec/test_traces.py::Test_AppSecEventSpanTags::test_header_collection: irrelevant (test)
  tests/appsec/waf/test_reports.py::Test_Monitoring::test_waf_monitoring_optional: irrelevant (optional tags)
  tests/debugger/: irrelevant
  tests/ffe/test_dynamic_evaluation.py: missing_feature
  tests/ffe/test_exposures.py: missing_feature
  tests/integrations/crossed_integrations/: missing_feature (Endpoint not implemented)
  tests/integrations/test_cassandra.py::Test_Cassandra: missing_feature (Endpoint is not implemented on weblog)
  tests/integrations/test_db_integrations_sql.py: missing_feature
  tests/integrations/test_db_integrations_sql.py::_BaseDatadogDbIntegrationTestClass::test_db_jdbc_drive_classname: missing_feature (Apply only java)
  tests/integrations/test_dbm.py: missing_feature
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Aiomysql: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_MysqlConnector: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Mysqldb: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Psycopg: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Pymysql: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_NodeJS_mysql2: irrelevant (These are nodejs only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_NodeJS_pg: irrelevant (These are nodejs only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Aiomysql: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Asyncpg: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_MysqlConnector: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Mysqldb: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Psycopg: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Pymysql: irrelevant (These are python only tests.)
  tests/integrations/test_dsm.py: missing_feature
  tests/integrations/test_dsm.py::Test_DsmKafka::test_dsm_kafka_without_cluster_id: irrelevant
  tests/integrations/test_inferred_proxy.py: missing_feature
  tests/integrations/test_mongo.py::Test_Mongo: missing_feature (Endpoint is not implemented on weblog)
  tests/integrations/test_otel_drop_in.py: irrelevant (library does not implement OpenTelemetry)
  tests/integrations/test_sql.py::Test_Sql: missing_feature (Endpoint is not implemented on weblog)
  tests/otel/: irrelevant (library does not implement OpenTelemetry)
  tests/otel_tracing_e2e/test_e2e.py::Test_OTelLogE2E: irrelevant
  tests/otel_tracing_e2e/test_e2e.py::Test_OTelMetricE2E: irrelevant
  tests/otel_tracing_e2e/test_e2e.py::Test_OTelTracingE2E: irrelevant
  tests/parametric/: irrelevant (Parametric scenario is not applied on C++ httpd)
  tests/parametric/test_otel_logs.py::Test_FR07_Host_Name::test_hostname_from_dd_hostname: irrelevant (DD_HOSTNAME is only supported in Python)
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Write_Log::test_create_logger: incomplete_test_app (Logs endpoint is only implemented in python and node.js app)
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Write_Log::test_write_log: incomplete_test_app (Logs endpoint is only implemented in python and node.js app)
  tests/parametric/test_telemetry.py::Test_TelemetrySCAEnvVar::test_telemetry_sca_enabled_propagated_specifics: irrelevant
  tests/parametric/test_tracer.py::Test_ProcessTags_ServiceName: missing_feature
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationExtraServices: missing_feature
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceASMDD: missing_feature
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceASMDDNoCache: missing_feature
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceFeatures: missing_feature
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceFeaturesNoCache: missing_feature
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceLiveDebugging: missing_feature
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py::Test_CopyObject: missing_feature
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py::Test_MultipartUpload: missing_feature
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py::Test_PutObject: missing_feature
  tests/stats/test_stats.py: '>=1.0.3'  # Modified by easy win activation script
  tests/stats/test_stats.py::Test_Agent_Info_Endpoint: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Client_Stats::test_client_stats: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Client_Stats::test_is_trace_root: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Client_Stats::test_obfuscation: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Peer_Tags: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Time_Bucketing::test_client_side_stats: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Time_Bucketing::test_client_side_stats_bucket_alignment: missing_feature  # Created by easy win activation script
  tests/stats/test_stats.py::Test_Transport_Headers: missing_feature  # Created by easy win activation script
  tests/test_baggage.py::Test_Baggage_Headers_Api_Datadog: incomplete_test_app (/otel_drop_in_baggage_api_datadog endpoint is not implemented)
  tests/test_baggage.py::Test_Baggage_Headers_Api_OTel: incomplete_test_app (/otel_drop_in_baggage_api_otel endpoint is not implemented)
  tests/test_baggage.py::Test_Baggage_Headers_Basic: incomplete_test_app (/make_distant_call endpoint is not implemented)
  tests/test_baggage.py::Test_Baggage_Headers_Malformed: incomplete_test_app (/make_distant_call endpoint is not implemented)
  tests/test_baggage.py::Test_Baggage_Headers_Malformed2: incomplete_test_app (/make_distant_call endpoint is not implemented)
  tests/test_baggage.py::Test_Baggage_Headers_Max_Bytes: incomplete_test_app (/make_distant_call endpoint is not implemented)
  tests/test_baggage.py::Test_Baggage_Headers_Max_Items: incomplete_test_app (/make_distant_call endpoint is not implemented)
  tests/test_baggage.py::Test_Only_Baggage_Header: incomplete_test_app (/make_distant_call endpoint is not implemented)
  tests/test_config_consistency.py::Test_Config_ClientIPHeaderEnabled_False: v0.2.2
  tests/test_config_consistency.py::Test_Config_ClientIPHeader_Configured: missing_feature (DD_TRACE_CLIENT_IP_HEADER not implemented)
  tests/test_config_consistency.py::Test_Config_ClientIPHeader_Precedence: missing_feature (http.client_ip is not supported)
  tests/test_config_consistency.py::Test_Config_ClientTagQueryString_Configured: missing_feature
  tests/test_config_consistency.py::Test_Config_ClientTagQueryString_Empty: missing_feature (test can not capture span with the expected http.url tag)
  tests/test_config_consistency.py::Test_Config_HttpClientErrorStatuses_Default: missing_feature
  tests/test_config_consistency.py::Test_Config_HttpClientErrorStatuses_FeatureFlagCustom: missing_feature
  tests/test_config_consistency.py::Test_Config_HttpServerErrorStatuses_Default: missing_feature
  tests/test_config_consistency.py::Test_Config_HttpServerErrorStatuses_FeatureFlagCustom: missing_feature
  tests/test_config_consistency.py::Test_Config_IntegrationEnabled_False: missing_feature
  tests/test_config_consistency.py::Test_Config_IntegrationEnabled_True: missing_feature
  tests/test_config_consistency.py::Test_Config_LogInjection_128Bit_TraceId_Disabled: missing_feature
  tests/test_config_consistency.py::Test_Config_LogInjection_128Bit_TraceId_Enabled: missing_feature
  tests/test_config_consistency.py::Test_Config_LogInjection_Default_Structured: missing_feature
  tests/test_config_consistency.py::Test_Config_LogInjection_Default_Unstructured: missing_feature
  tests/test_config_consistency.py::Test_Config_LogInjection_Enabled: missing_feature
  tests/test_config_consistency.py::Test_Config_ObfuscationQueryStringRegexp_Configured: missing_feature
  tests/test_config_consistency.py::Test_Config_ObfuscationQueryStringRegexp_Default: missing_feature
  tests/test_config_consistency.py::Test_Config_ObfuscationQueryStringRegexp_Empty: missing_feature
  tests/test_config_consistency.py::Test_Config_RuntimeMetrics_Default: '>=1.0.3'  # Modified by easy win activation script
  tests/test_config_consistency.py::Test_Config_RuntimeMetrics_Enabled: missing_feature
  tests/test_config_consistency.py::Test_Config_RuntimeMetrics_Enabled_WithRuntimeId: missing_feature
  tests/test_config_consistency.py::Test_Config_UnifiedServiceTagging_CustomService: missing_feature
  tests/test_config_consistency.py::Test_Config_UnifiedServiceTagging_Default: missing_feature
  tests/test_data_integrity.py::Test_LibraryHeaders::test_datadog_entity_id: missing_feature
  tests/test_data_integrity.py::Test_LibraryHeaders::test_datadog_external_env: missing_feature (not implemented yet)
  tests/test_data_integrity.py::Test_LibraryHeaders::test_headers: '>=1.0.3'  # Modified by easy win activation script
  tests/test_data_integrity.py::Test_TraceHeaders::test_trace_header_container_tags: missing_feature (Missing endpoint)
  tests/test_data_integrity.py::Test_TraceHeaders::test_traces_header_present: missing_feature
  tests/test_distributed.py::Test_DistributedHttp: missing_feature
  tests/test_distributed.py::Test_Span_Links_Flags_From_Conflicting_Contexts: missing_feature (implementation specs have not been determined)
  tests/test_distributed.py::Test_Span_Links_From_Conflicting_Contexts:  # Modified by easy win activation script
    - declaration: missing_feature (baggage should be implemented and conflicting trace contexts should generate span link)
      component_version: <1.0.3
  tests/test_distributed.py::Test_Span_Links_From_Conflicting_Contexts::test_span_links_from_conflicting_contexts: missing_feature (baggage should be implemented and conflicting trace contexts should generate span link)  # Created by easy win activation script
  tests/test_distributed.py::Test_Span_Links_Omit_Tracestate_From_Conflicting_Contexts: missing_feature (implementation specs have not been determined)
  tests/test_distributed.py::Test_Synthetics_APM_Datadog::test_synthetics: missing_feature (A non-root span carry user agent informations)
  tests/test_distributed.py::Test_Synthetics_APM_Datadog::test_synthetics_browser: missing_feature (A non-root span carry user agent informations)
  tests/test_graphql.py: missing_feature
  tests/test_identify.py: irrelevant
  tests/test_ipv6.py: missing_feature (APMAPI-869)
  tests/test_library_conf.py: irrelevant
  tests/test_library_logs.py::Test_NoExceptions::test_dotnet: irrelevant (only for .NET)
  tests/test_library_logs.py::Test_NoExceptions::test_java_logs: irrelevant (only for Java)
  tests/test_library_logs.py::Test_NoExceptions::test_java_telemetry_logs: irrelevant (only for Java)
  tests/test_miscs.py: irrelevant
  tests/test_profiling.py: missing_feature (missing profiling module in weblog)
  tests/test_protobuf.py: missing_feature
  tests/test_resource_renaming.py: missing_feature
  tests/test_rum_injection.py: irrelevant (RUM injection only supported for Java)
  tests/test_sampling_rates.py::Test_SampleRateFunction: v1.0.0  # real version unknown
  tests/test_sampling_rates.py::Test_SampleRateFunction::test_sample_rate_function: missing_feature (/sample_rate_route is not implemented)
  tests/test_sampling_rates.py::Test_SamplingDecisionAdded: v1.0.0  # real version unknown
  tests/test_sampling_rates.py::Test_SamplingDecisions: v1.0.0  # real version unknown
  tests/test_sampling_rates.py::Test_SamplingDeterminism: v1.0.0  # real version unknown
  tests/test_sampling_rates.py::Test_SamplingRates: v1.0.0  # real version unknown
  tests/test_sampling_rates.py::Test_SamplingRates::test_sampling_rates: missing_feature (/sample_rate_route is not implemented)
  tests/test_scrubbing.py: irrelevant
  tests/test_semantic_conventions.py::Test_Meta::test_meta_http_method: missing_feature (For some reason, span type is server i/o web)
  tests/test_semantic_conventions.py::Test_Meta::test_meta_http_status_code: missing_feature (For some reason, span type is server i/o web)
  tests/test_semantic_conventions.py::Test_Meta::test_meta_http_url: missing_feature (For some reason, span type is server i/o web)
  tests/test_semantic_conventions.py::Test_Meta::test_meta_span_kind: bug (APMAPI-924)
  tests/test_smoke.py::Test_Library::test_receive_request_trace: missing_feature (For some reason, span type is server i/o web)
  tests/test_span_events.py: incomplete_test_app (Weblog `/add_event` not implemented)
  tests/test_standard_tags.py: irrelevant
  tests/test_telemetry.py::Test_Log_Generation: '>=1.0.3'  # Modified by easy win activation script
  tests/test_telemetry.py::Test_Log_Generation::test_log_generation_enabled: missing_feature  # Created by easy win activation script
  tests/test_telemetry.py::Test_MessageBatch: '>=1.0.3'  # Modified by easy win activation script
  tests/test_telemetry.py::Test_Metric_Generation_Enabled: missing_feature
  tests/test_telemetry.py::Test_ProductsDisabled: irrelevant
  tests/test_telemetry.py::Test_Telemetry::test_api_still_v1: irrelevant
  tests/test_telemetry.py::Test_Telemetry::test_app_dependencies_loaded: irrelevant
  tests/test_telemetry.py::Test_Telemetry::test_app_heartbeats_delays:  # Modified by easy win activation script
    - declaration: missing_feature (DD_TELEMETRY_HEARTBEAT_INTERVAL not supported)
      component_version: <1.0.3
  tests/test_telemetry.py::Test_Telemetry::test_app_product_change: missing_feature (Weblog GET/enable_product and app-product-change event is not implemented yet.)
  tests/test_telemetry.py::Test_TelemetryEnhancedConfigReporting: '>=1.0.3'  # Modified by easy win activation script
  tests/test_telemetry.py::Test_TelemetryEnhancedConfigReporting::test_telemetry_enhanced_config_reporting_precedence: missing_feature  # Created by easy win activation script
  tests/test_telemetry.py::Test_TelemetrySCAEnvVar: missing_feature
  tests/test_telemetry.py::Test_TelemetryV2::test_app_started_product_info: missing_feature (Product started missing in app-started payload)
  tests/test_telemetry.py::Test_TelemetryV2::test_config_telemetry_completeness: irrelevant (This test causes too many friction. It has been replaced by alerts on slack channels)
  tests/test_telemetry.py::Test_TelemetryV2::test_telemetry_v2_required_headers: missing_feature
  tests/test_v1_payloads.py: missing_feature
