---
# Important note : version specified in this file are httpd-datadog version
# you can find the list of existing version here : https://github.com/DataDog/httpd-datadog/releases
#
# For features that are not yet available in the latest release,
# please specify a version greater than the current release using `>`.
# DO NOT SPECIFY A NON EXISTING RELEASE.
#
# For example, if the latest release is `v1.0.0` and a feature like Baggage
# is only supported on the `main` branch and in the upcoming release,
# use `>1.0.0` to indicate that requirement.
manifest:
  tests/apm_tracing_e2e/: "missing_feature (missing /e2e_otel_span endpoint on weblog)"
  tests/appsec/: "irrelevant (ASM is not implemented in C++)"
  tests/debugger/: "irrelevant"
  tests/integrations/crossed_integrations/: "missing_feature (Endpoint not implemented)"
  tests/integrations/test_db_integrations_sql.py: "missing_feature"
  tests/integrations/test_dbm.py: "missing_feature"
  tests/integrations/test_dsm.py: "missing_feature"
  tests/integrations/test_inferred_proxy.py: "missing_feature"
  tests/integrations/test_otel_drop_in.py: "irrelevant (library does not implement OpenTelemetry)"
  tests/otel/: "irrelevant (library does not implement OpenTelemetry)"
  tests/parametric/: "irrelevant (Parametric scenario is not applied on C++ httpd)"
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationExtraServices: "missing_feature"
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceASMDD: "missing_feature"
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceASMDDNoCache: "missing_feature"
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceFeatures: "missing_feature"
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceFeaturesNoCache: "missing_feature"
  tests/remote_config/test_remote_configuration.py::Test_RemoteConfigurationUpdateSequenceLiveDebugging: "missing_feature"
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py::Test_CopyObject: "missing_feature"
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py::Test_MultipartUpload: "missing_feature"
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py::Test_PutObject: "missing_feature"
  tests/test_baggage.py::Test_Baggage_Headers_Basic: "incomplete_test_app (/make_distant_call endpoint is not implemented)"
  tests/test_baggage.py::Test_Baggage_Headers_Malformed: "incomplete_test_app (/make_distant_call endpoint is not implemented)"
  tests/test_baggage.py::Test_Baggage_Headers_Malformed2: "incomplete_test_app (/make_distant_call endpoint is not implemented)"
  tests/test_baggage.py::Test_Baggage_Headers_Max_Bytes: "incomplete_test_app (/make_distant_call endpoint is not implemented)"
  tests/test_baggage.py::Test_Baggage_Headers_Max_Items: "incomplete_test_app (/make_distant_call endpoint is not implemented)"
  tests/test_baggage.py::Test_Only_Baggage_Header: "incomplete_test_app (/make_distant_call endpoint is not implemented)"
  tests/test_config_consistency.py::Test_Config_ClientIPHeaderEnabled_False: "v0.2.2"
  tests/test_config_consistency.py::Test_Config_ClientIPHeader_Configured: "missing_feature (DD_TRACE_CLIENT_IP_HEADER not implemented)"
  tests/test_config_consistency.py::Test_Config_ClientIPHeader_Precedence: "missing_feature (http.client_ip is not supported)"
  tests/test_config_consistency.py::Test_Config_ClientTagQueryString_Configured: "missing_feature"
  tests/test_config_consistency.py::Test_Config_ClientTagQueryString_Empty: "missing_feature (test can not capture span with the expected http.url tag)"
  tests/test_config_consistency.py::Test_Config_HttpClientErrorStatuses_Default: "missing_feature"
  tests/test_config_consistency.py::Test_Config_HttpClientErrorStatuses_FeatureFlagCustom: "missing_feature"
  tests/test_config_consistency.py::Test_Config_HttpServerErrorStatuses_Default: "missing_feature"
  tests/test_config_consistency.py::Test_Config_HttpServerErrorStatuses_FeatureFlagCustom: "missing_feature"
  tests/test_config_consistency.py::Test_Config_IntegrationEnabled_False: "missing_feature"
  tests/test_config_consistency.py::Test_Config_IntegrationEnabled_True: "missing_feature"
  tests/test_config_consistency.py::Test_Config_LogInjection_128Bit_TraceId_Disabled: "missing_feature"
  tests/test_config_consistency.py::Test_Config_LogInjection_128Bit_TraceId_Enabled: "missing_feature"
  tests/test_config_consistency.py::Test_Config_LogInjection_Default_Structured: "missing_feature"
  tests/test_config_consistency.py::Test_Config_LogInjection_Default_Unstructured: "missing_feature"
  tests/test_config_consistency.py::Test_Config_LogInjection_Enabled: "missing_feature"
  tests/test_config_consistency.py::Test_Config_ObfuscationQueryStringRegexp_Configured: "missing_feature"
  tests/test_config_consistency.py::Test_Config_ObfuscationQueryStringRegexp_Default: "missing_feature"
  tests/test_config_consistency.py::Test_Config_ObfuscationQueryStringRegexp_Empty: "missing_feature"
  tests/test_config_consistency.py::Test_Config_RuntimeMetrics_Default: "missing_feature"
  tests/test_config_consistency.py::Test_Config_RuntimeMetrics_Enabled: "missing_feature"
  tests/test_config_consistency.py::Test_Config_RuntimeMetrics_Enabled_WithRuntimeId: "missing_feature"
  tests/test_config_consistency.py::Test_Config_UnifiedServiceTagging_CustomService: "missing_feature"
  tests/test_config_consistency.py::Test_Config_UnifiedServiceTagging_Default: "missing_feature"
  tests/test_distributed.py::Test_DistributedHttp: "missing_feature"
  tests/test_distributed.py::Test_Span_Links_Flags_From_Conflicting_Contexts: "missing_feature (implementation specs have not been determined)"
  tests/test_distributed.py::Test_Span_Links_From_Conflicting_Contexts: "missing_feature (baggage should be implemented and conflicting trace contexts should generate span link)"
  tests/test_distributed.py::Test_Span_Links_Omit_Tracestate_From_Conflicting_Contexts: "missing_feature (implementation specs have not been determined)"
  tests/test_feature_flag_exposures.py::Test_FFE_Exposure_Events: "missing_feature"
  tests/test_graphql.py: "missing_feature"
  tests/test_identify.py: "irrelevant"
  tests/test_ipv6.py: "missing_feature (APMAPI-869)"
  tests/test_library_conf.py: "irrelevant"
  tests/test_miscs.py: "irrelevant"
  tests/test_profiling.py: "missing_feature (missing profiling module in weblog)"
  tests/test_protobuf.py: "missing_feature"
  tests/test_resource_renaming.py: "missing_feature"
  tests/test_sampling_rates.py::Test_SampleRateFunction: "v1.0.0"
  tests/test_sampling_rates.py::Test_SamplingDecisionAdded: "v1.0.0"
  tests/test_sampling_rates.py::Test_SamplingDecisions: "v1.0.0"
  tests/test_sampling_rates.py::Test_SamplingDeterminism: "v1.0.0"
  tests/test_sampling_rates.py::Test_SamplingRates: "v1.0.0"
  tests/test_scrubbing.py: "irrelevant"
  tests/test_span_events.py: "incomplete_test_app (Weblog `/add_event` not implemented)"
  tests/test_standard_tags.py: "irrelevant"
  tests/test_telemetry.py::Test_Log_Generation: "missing_feature"
  tests/test_telemetry.py::Test_MessageBatch: "missing_feature"
  tests/test_telemetry.py::Test_Metric_Generation_Enabled: "missing_feature"
  tests/test_telemetry.py::Test_ProductsDisabled: "irrelevant"
  tests/test_telemetry.py::Test_TelemetryEnhancedConfigReporting: "missing_feature"
  tests/test_telemetry.py::Test_TelemetrySCAEnvVar: "missing_feature"
  tests/test_v1_payloads.py: "missing_feature"
