refs:
  - &ref_3_0_0 '>=3.0.0 || ^2.13.0'
  - &ref_3_2_0 '>=3.2.0 || ^2.15.0'
  - &ref_3_6_0 '>=3.6.0 || ^2.19.0'
  - &ref_3_7_0 '>=3.7.0 || ^2.20.0'
  - &ref_3_9_0 '>=3.9.0 || ^2.22.0'
  - &ref_3_11_0 '>=3.11.0 || ^2.24.0'
  - &ref_3_13_0 '>=3.13.0 || ^2.26.0'
  - &ref_3_13_1 '>=3.13.1 || ^2.26.1'
  - &ref_3_15_0 '>=3.15.0 || ^2.28.0'
  - &ref_3_19_0 '>=3.19.0 || ^2.32.0'
  - &ref_3_21_0 '>=3.21.0 || ^2.34.0'
  - &ref_4_1_0 '>=4.1.0 || ^3.22.0 || ^2.35.0'
  - &ref_4_3_0 '>=4.3.0 || ^3.24.0 || ^2.37.0'
  - &ref_4_4_0 '>=4.4.0 || ^3.25.0 || ^2.38.0'
  - &ref_4_8_0 '>=4.8.0 || ^3.29.0 || ^2.42.0'
  - &ref_4_11_0 '>=4.11.0 || ^3.32.0 || ^2.45.0'
  - &ref_4_16_0 '>=4.16.0 || ^3.37.0'
  - &ref_4_17_0 '>=4.17.0 || ^3.38.0'
  - &ref_4_18_0 '>=4.18.0 || ^3.39.0'
  - &ref_4_21_0 '>=4.21.0 || ^3.42.0'
  - &ref_4_22_0 '>=4.22.0 || ^3.43.0'
  - &ref_4_23_0 '>=4.23.0 || ^3.44.0'
  - &ref_5_1_0 '>=5.1.0 || ^4.25.0 || ^3.46.0'
  - &ref_5_2_0 '>=5.2.0 || ^4.26.0 || ^3.47.0'
  - &ref_5_3_0 '>=5.3.0 || ^4.27.0 || ^3.48.0'
  - &ref_5_4_0 '>=5.4.0 || ^4.28.0 || ^3.49.0'
  - &ref_5_6_0 '>=5.6.0 || ^4.30.0 || ^3.51.0'
  - &ref_5_7_0 '>=5.7.0 || ^4.31.0 || ^3.52.0'
  - &ref_5_11_0 '>=5.11.0 || ^4.35.0 || ^3.56.0'
  - &ref_5_13_0 '>=5.13.0 || ^4.37.0 || ^3.58.0'
  - &ref_5_15_0 '>=5.15.0 || ^4.39.0'
  - &ref_5_16_0 '>=5.16.0 || ^4.40.0'
  - &ref_5_17_0 '>=5.17.0 || ^4.41.0'
  - &ref_5_18_0 '>=5.18.0 || ^4.42.0'

tests/:
  apm_tracing_e2e/:
    test_otel.py:
      Test_Otel_Span: missing_feature (missing /e2e_otel_span endpoint on weblog)
    test_single_span.py:
      Test_SingleSpan: missing_feature (missing /e2e_otel_span endpoint on weblog)
  appsec/:
    api_security/:
      test_api_security_rc.py:
        Test_API_Security_RC_ASM_DD_processors: *ref_5_3_0
        Test_API_Security_RC_ASM_DD_scanners: *ref_5_3_0
        Test_API_Security_RC_ASM_processor_overrides_and_custom_scanner: irrelevant (waf does not support it yet)
      test_apisec_sampling.py:
        Test_API_Security_sampling: *ref_4_21_0
      test_schemas.py:
        Test_Scanners: *ref_4_21_0
        Test_Schema_Request_Cookies: *ref_4_21_0
        Test_Schema_Request_FormUrlEncoded_Body:
          express4: *ref_4_21_0
          express4-typescript: *ref_4_21_0
          nextjs: *ref_5_3_0
        Test_Schema_Request_Headers: *ref_4_21_0
        Test_Schema_Request_Json_Body: *ref_4_21_0
        Test_Schema_Request_Path_Parameters: missing_feature (path_params not supported yet)
        Test_Schema_Request_Query_Parameters: *ref_4_21_0
        Test_Schema_Response_Body:
          '*': *ref_5_3_0
          nextjs: missing_feature
        Test_Schema_Response_Body_env_var: missing_feature
        Test_Schema_Response_Headers: *ref_4_21_0
    iast/:
      sink/:
        test_command_injection.py:
          TestCommandInjection:
            '*': *ref_3_11_0
            nextjs: missing_feature
        test_hardcoded_passwords.py:
          Test_HardcodedPasswords:
            '*': *ref_5_13_0
            nextjs: missing_feature
        test_hardcoded_secrets.py:
          Test_HardcodedSecrets:
            '*': *ref_4_18_0
            nextjs: missing_feature
          Test_HardcodedSecretsExtended:
            '*': *ref_5_11_0
            nextjs: missing_feature
        test_header_injection.py:
          TestHeaderInjection:
            '*': *ref_4_21_0
            nextjs: missing_feature
        test_hsts_missing_header.py:
          Test_HstsMissingHeader:
            '*': *ref_4_8_0
            nextjs: missing_feature
        test_insecure_auth_protocol.py:
          Test_InsecureAuthProtocol: missing_feature
        test_insecure_cookie.py:
          TestInsecureCookie:
            '*': *ref_4_1_0
            nextjs: missing_feature
        test_ldap_injection.py:
          TestLDAPInjection:
            '*': *ref_4_1_0
            nextjs: missing_feature
        test_no_httponly_cookie.py:
          TestNoHttponlyCookie:
            '*': *ref_4_3_0
            nextjs: missing_feature
        test_no_samesite_cookie.py:
          TestNoSamesiteCookie:
            '*': *ref_4_3_0
            nextjs: missing_feature
        test_nosql_mongodb_injection.py:
          TestNoSqlMongodbInjection:
            '*': *ref_4_17_0
            nextjs: missing_feature
        test_path_traversal.py:
          TestPathTraversal:
            '*': *ref_3_19_0
            nextjs: missing_feature
        test_reflection_injection.py:
          TestReflectionInjection: missing_feature
        test_sql_injection.py:
          TestSqlInjection:
            '*': *ref_3_11_0
            nextjs: missing_feature
        test_ssrf.py:
          TestSSRF:
            '*': *ref_4_1_0
            nextjs: missing_feature
        test_trust_boundary_violation.py:
          Test_TrustBoundaryViolation: missing_feature
        test_unvalidated_redirect.py:
          TestUnvalidatedHeader:
            '*': *ref_4_3_0
            nextjs: missing_feature
          TestUnvalidatedRedirect:
            '*': *ref_4_3_0
            nextjs: missing_feature
        test_unvalidated_redirect_forward.py:
          TestUnvalidatedForward: missing_feature
        test_weak_cipher.py:
          TestWeakCipher:
            '*': *ref_3_6_0
            nextjs: missing_feature
        test_weak_hash.py:
          TestWeakHash:
            '*': *ref_3_11_0
            nextjs: missing_feature
        test_weak_randomness.py:
          TestWeakRandomness:
            '*': *ref_5_1_0
            nextjs: missing_feature
        test_xcontent_sniffing.py:
          Test_XContentSniffing:
            '*': *ref_4_8_0
            nextjs: missing_feature
        test_xpath_injection.py:
          TestXPathInjection: missing_feature
        test_xss.py:
          TestXSS: missing_feature
      source/:
        test_body.py:
          TestRequestBody:
            '*': *ref_3_19_0
            nextjs: missing_feature
        test_cookie_name.py:
          TestCookieName: missing_feature
        test_cookie_value.py:
          TestCookieValue:
            '*': *ref_4_3_0
            nextjs: missing_feature
        test_graphql_resolver.py:
          TestGraphqlResolverArgument:
            '*': *ref_5_4_0
            nextjs: irrelevant # nextjs is not related with graphql
        test_header_name.py:
          TestHeaderName: missing_feature
        test_header_value.py:
          TestHeaderValue:
            '*': *ref_4_3_0
            nextjs: missing_feature
        test_kafka_key.py:
          TestKafkaKey:
            '*': *ref_5_4_0
            nextjs: irrelevant # nextjs is not related with kafka
        test_kafka_value.py:
          TestKafkaValue:
            '*': *ref_5_4_0
            nextjs: irrelevant # nextjs is not related with kafka
        test_multipart.py:
          TestMultipart: missing_feature
        test_parameter_name.py:
          TestParameterName: missing_feature
        test_parameter_value.py:
          TestParameterValue:
            '*': *ref_3_19_0
            nextjs: missing_feature
        test_path.py:
          TestPath: missing_feature
        test_uri.py:
          TestURI: missing_feature
    rasp/:
      test_lfi.py: missing_feature
      test_span_tags.py:
        Test_Mandatory_SpanTags: *ref_5_18_0
        Test_Optional_SpanTags: *ref_5_18_0
      test_sqli.py: missing_feature
      test_ssrf.py: missing_feature
      test_stack_traces.py: missing_feature
    waf/:
      test_addresses.py:
        Test_BodyJson:
          '*': v2.2.0
          nextjs: *ref_4_17_0
        Test_BodyRaw: missing_feature
        Test_BodyUrlEncoded:
          '*': v2.2.0
          nextjs: *ref_5_3_0
        Test_BodyXml:
          '*': v2.2.0
          nextjs: irrelevant # Body xml is not converted to JSON in nextjs
        Test_Cookies: v2.0.0
        Test_FullGrpc: missing_feature
        Test_GraphQL:
          '*': *ref_4_22_0
          nextjs: irrelevant # nextjs is not related with graphql
        Test_GrpcServerMethod: missing_feature
        Test_Headers: v2.0.0
        Test_PathParams:
          '*': v2.0.0
          nextjs: missing_feature
        Test_ResponseStatus: v2.0.0
        Test_UrlQuery:
          '*': v2.0.0
          nextjs: *ref_4_17_0
        Test_UrlQueryKey:
          '*': v2.6.0
          nextjs: *ref_4_17_0
        Test_UrlRaw: v2.0.0
        Test_gRPC: missing_feature
      test_blocking.py:
        Test_Blocking: *ref_3_19_0
        Test_Blocking_strip_response_headers: *ref_5_17_0
        Test_CustomBlockingResponse: *ref_5_15_0
      test_custom_rules.py:
        Test_CustomRules: *ref_4_1_0
      test_exclusions.py:
        Test_Exclusions: *ref_3_19_0
      test_miscs.py:
        Test_404: v2.0.0
        Test_CorrectOptionProcessing: *ref_3_19_0 # probably sooner, but bugged
        Test_MultipleAttacks: v2.0.0
        Test_MultipleHighlight: v2.0.0
      test_reports.py:
        Test_Monitoring: v2.8.0
      test_rules.py:
        Test_CommandInjection: v2.0.0
        Test_DiscoveryScan: v2.0.0
        Test_HttpProtocol: v2.0.0
        Test_JavaCodeInjection: v2.0.0
        Test_JsInjection: v2.0.0
        Test_LFI: v2.0.0
        Test_NoSqli: v2.0.0
        Test_PhpCodeInjection: v2.0.0
        Test_RFI: v2.0.0
        Test_SQLI: v2.0.0
        Test_SSRF: v2.0.0
        Test_Scanners: v2.0.0
        Test_XSS: v2.0.0
      test_telemetry.py:
        Test_TelemetryMetrics: *ref_4_17_0
    test_alpha.py:
      Test_Basic: v2.0.0
    test_asm_standalone.py:
      Test_AppSecStandalone_UpstreamPropagation: *ref_5_18_0
    test_automated_login_events.py:
      Test_Login_Events:
        '*': *ref_4_4_0
        nextjs: missing_feature
      Test_Login_Events_Extended:
        '*': *ref_4_4_0
        nextjs: missing_feature
      Test_V2_Login_Events: missing_feature
      Test_V2_Login_Events_Anon: missing_feature
      Test_V2_Login_Events_RC: missing_feature
    test_blocking_addresses.py:
      Test_BlockingGraphqlResolvers:
        '*': *ref_4_22_0
        nextjs: irrelevant # nextjs is not related with graphql
      Test_Blocking_client_ip: *ref_3_19_0
      Test_Blocking_request_body:
        '*': *ref_3_19_0
        nextjs: missing_feature
      Test_Blocking_request_body_multipart: missing_feature
      Test_Blocking_request_cookies:
        '*': *ref_4_16_0
        nextjs: missing_feature
      Test_Blocking_request_headers: *ref_3_19_0
      Test_Blocking_request_method: *ref_3_19_0
      Test_Blocking_request_path_params: missing_feature
      Test_Blocking_request_query:
        '*': *ref_3_19_0
        nextjs: missing_feature
      Test_Blocking_request_uri: *ref_3_19_0
      Test_Blocking_response_headers: *ref_5_17_0
      Test_Blocking_response_status: *ref_5_17_0
      Test_Blocking_user_id:
        '*': *ref_3_19_0
        nextjs: missing_feature
      Test_Suspicious_Request_Blocking:
        '*': missing_feature (v3.19.0, but test is not implemented)
        nextjs: missing_feature
    test_client_ip.py:
      Test_StandardTagsClientIp: *ref_3_6_0
    test_conf.py:
      Test_ConfigurationVariables: v2.7.0
      Test_RuleSet_1_3_1: v2.5.0
    test_customconf.py:
      Test_ConfRuleSet: v2.0.0
      Test_MissingRules: v2.0.0
      Test_NoLimitOnWafRules: v2.4.0
    test_event_tracking.py:
      Test_CustomEvent:
        '*': *ref_3_13_0
        nextjs: missing_feature
      Test_UserLoginFailureEvent:
        '*': *ref_3_13_0
        nextjs: missing_feature
      Test_UserLoginSuccessEvent:
        '*': *ref_3_13_0
        nextjs: missing_feature
    test_identify.py:
      Test_Basic: v2.4.0
    test_ip_blocking_full_denylist.py:
      Test_AppSecIPBlockingFullDenylist: *ref_3_11_0
    test_logs.py:
      Test_Standardization: missing_feature
      Test_StandardizationBlockMode: missing_feature
    test_rate_limiter.py:
      Test_Main: v2.0.0
    test_remote_config_rule_changes.py:
      Test_BlockingActionChangesWithRemoteConfig: *ref_4_1_0
    test_reports.py:
      Test_ExtraTagsFromRule: *ref_4_1_0
      Test_Info: v2.0.0
      Test_RequestHeaders: v2.0.0
      Test_StatusCode: v2.0.0
    test_request_blocking.py:
      Test_AppSecRequestBlocking:
        '*': *ref_3_19_0
        nextjs: missing_feature (can not block by query param in nextjs yet)
    test_runtime_activation.py:
      Test_RuntimeActivation: *ref_3_9_0
      Test_RuntimeDeactivation: *ref_3_9_0
    test_shell_execution.py:
      Test_ShellExecution: *ref_5_3_0
    test_traces.py:
      Test_AppSecEventSpanTags: v2.0.0
      Test_AppSecObfuscator: v2.6.0
      Test_CollectDefaultRequestHeader: *ref_5_18_0
      Test_CollectRespondHeaders: v2.0.0
      Test_ExternalWafRequestsIdentification: *ref_5_7_0
      Test_RetainTraces: v2.0.0
    test_user_blocking_full_denylist.py:
      Test_UserBlocking_FullDenylist:
        '*': *ref_3_15_0
        nextjs: missing_feature (block method not implemented for nextjs yet)
    test_versions.py:
      Test_Events: v2.0.0
  debugger/:
    test_debugger_expression_language.py:
      Test_Debugger_Expression_Language: missing_feature (feature not implented)
    test_debugger_pii.py:
      Test_Debugger_PII_Redaction: missing_feature (feature not implented)
    test_debugger_probe_snapshot.py:
      Test_Debugger_Line_Probe_Snaphots: missing_feature (feature not implented)
      Test_Debugger_Method_Probe_Snaphots: missing_feature (feature not implented)
      Test_Debugger_Mix_Log_Probe: missing_feature (feature not implented)
    test_debugger_probe_status.py:
      Test_Debugger_Probe_Statuses: missing_feature (feature not implented)
  integrations/:
    crossed_integrations/:
      test_kafka.py:
        Test_Kafka:
          '*': irrelevant
          express4: v0.1 # real version not known
      test_kinesis.py:
        Test_Kinesis_PROPAGATION_VIA_MESSAGE_ATTRIBUTES:
          '*': irrelevant
          express4: *ref_5_3_0
      test_rabbitmq.py:
        Test_RabbitMQ_Trace_Context_Propagation:
          '*': irrelevant
          express4: v0.1 # real version not known
      test_sns_to_sqs.py:
        Test_SNS_Propagation:
          '*': irrelevant
          express4: v0.1 # real version not known
      test_sqs.py:
        Test_SQS_PROPAGATION_VIA_AWS_XRAY_HEADERS:
          '*': irrelevant
          express4: v0.1 # real version not known
        Test_SQS_PROPAGATION_VIA_MESSAGE_ATTRIBUTES:
          '*': irrelevant
          express4: v0.1 # real version not known
    test_db_integrations_sql.py:
      Test_MsSql:
        '*': missing_feature
        express4: v1.0.0
      Test_MySql:
        '*': missing_feature
        express4: v1.0.0
      Test_Postgres:
        '*': missing_feature
        express4: v1.0.0
    test_dbm.py:
      Test_Dbm: missing_feature
      Test_Dbm_Comment_NodeJS_mysql2:
        '*': missing_feature (Missing on weblog)
        express4: *ref_5_13_0
        uds-express4: *ref_5_13_0
      Test_Dbm_Comment_NodeJS_pg:
        '*': missing_feature (Missing on weblog)
        express4: *ref_5_13_0
        uds-express4: *ref_5_13_0
    test_dsm.py:
      Test_DsmContext_Extraction_Base64:
        '*': irrelevant
        express4: *ref_5_6_0
      Test_DsmContext_Injection_Base64:
        '*': irrelevant
        express4: *ref_5_6_0
      Test_DsmHttp: missing_feature
      Test_DsmKafka:
        '*': *ref_4_4_0
        nextjs: missing_feature (missing endpoint)
      Test_DsmKinesis:
        '*': irrelevant
        express4: *ref_5_2_0
      Test_DsmRabbitmq:
        '*': irrelevant
        express4: *ref_5_3_0
      Test_DsmRabbitmq_FanoutExchange:
        '*': irrelevant
        express4: missing_feature
      Test_DsmRabbitmq_TopicExchange:
        '*': irrelevant
        express4: missing_feature
      Test_DsmSNS:
        '*': irrelevant
        express4: *ref_5_2_0
      Test_DsmSQS:
        '*': irrelevant
        express4: *ref_5_2_0
  parametric/:
    test_dynamic_configuration.py:
      TestDynamicConfigHeaderTags: missing_feature
      TestDynamicConfigSamplingRules: *ref_5_16_0
      TestDynamicConfigTracingEnabled: *ref_5_4_0
      TestDynamicConfigV1: *ref_4_11_0
      TestDynamicConfigV1_ServiceTargets: *ref_5_4_0
      TestDynamicConfigV2: *ref_4_23_0
    test_otel_api_interoperability.py: missing_feature
    test_otel_env_vars.py:
      Test_Otel_Env_Vars: v5.11.0 #implemented in v5.11.0, v4.35.0, &v3.56.0
    test_otel_sdk_interoperability.py: missing_feature
    test_span_links.py:
      Test_Span_Links: *ref_5_3_0
    test_telemetry.py:
      Test_Defaults: *ref_5_6_0
      Test_Environment: *ref_5_6_0
      Test_TelemetryInstallSignature: *ref_4_23_0
      Test_TelemetrySCAEnvVar: *ref_5_13_0
    test_trace_sampling.py:
      Test_Trace_Sampling_Basic: *ref_5_16_0 #actual version unknown
      Test_Trace_Sampling_Globs: *ref_5_16_0 #actual version unknown
      Test_Trace_Sampling_Globs_Feb2024_Revision: missing_feature
      Test_Trace_Sampling_Resource: missing_feature
      Test_Trace_Sampling_Tags: missing_feature
      Test_Trace_Sampling_Tags_Feb2024_Revision: *ref_5_16_0 #actual version unknown
      Test_Trace_Sampling_With_W3C: missing_feature
    test_tracer.py:
      Test_TracerSCITagging: *ref_3_21_0
    test_tracer_flare.py:
      TestTracerFlareV1: *ref_5_15_0
  remote_config/:
    test_remote_configuration.py:
      Test_RemoteConfigurationExtraServices: *ref_4_17_0
      Test_RemoteConfigurationUpdateSequenceASMDD: *ref_3_19_0
      Test_RemoteConfigurationUpdateSequenceASMDDNoCache: irrelevant (cache is implemented)
      Test_RemoteConfigurationUpdateSequenceFeatures: *ref_3_9_0
      Test_RemoteConfigurationUpdateSequenceFeaturesNoCache: irrelevant (cache is implemented)
      Test_RemoteConfigurationUpdateSequenceLiveDebugging: *ref_5_16_0 #actual version unknown
      Test_RemoteConfigurationUpdateSequenceLiveDebuggingNoCache: irrelevant (cache is implemented)
  test_distributed.py:
    Test_DistributedHttp: missing_feature
  test_identify.py:
    Test_Basic: v2.4.0
    Test_Propagate: *ref_3_2_0
    Test_Propagate_Legacy: *ref_3_2_0
  test_library_conf.py:
    Test_HeaderTags: *ref_4_11_0
    Test_HeaderTags_Colon_Leading: *ref_4_11_0
    Test_HeaderTags_Colon_Trailing: *ref_4_11_0
    Test_HeaderTags_Long: *ref_4_11_0
    Test_HeaderTags_Short: *ref_4_11_0
    Test_HeaderTags_Whitespace_Header: bug (AIT-9109)
    Test_HeaderTags_Whitespace_Tag: bug (AIT-9109)
    Test_HeaderTags_Whitespace_Val_Long: *ref_4_11_0
    Test_HeaderTags_Whitespace_Val_Short: *ref_4_11_0
  test_profiling.py:
    Test_Profile: *ref_5_16_0 #actual version unknown
  test_scrubbing.py:
    Test_UrlField: *ref_3_13_1
    Test_UrlQuery:
      '*': *ref_3_0_0
      nextjs: *ref_4_17_0
  test_semantic_conventions.py:
    Test_Meta:
      '*': *ref_3_13_1
      nextjs: missing_feature # nextjs makes some internal requests and we have different tag names
    Test_MetricsStandardTags: *ref_3_13_1
  test_standard_tags.py:
    Test_StandardTagsClientIp:
      '*': *ref_3_6_0
      nextjs: missing_feature # nextjs makes some internal requests, so we have more than 1 rootspans
    Test_StandardTagsMethod: v2.11.0
    Test_StandardTagsRoute:
      '*': v2.11.0
      nextjs: missing_feature # http.route not added in nextjs
    Test_StandardTagsStatusCode: v2.11.0
    Test_StandardTagsUrl: *ref_3_0_0
    Test_StandardTagsUserAgent: v2.9.0
  test_telemetry.py:
    Test_DependencyEnable: missing_feature
    Test_Log_Generation: missing_feature
    Test_MessageBatch: *ref_4_21_0
    Test_Metric_Generation_Disabled: missing_feature
    Test_Metric_Generation_Enabled: missing_feature
    Test_ProductsDisabled: *ref_4_21_0
    Test_Telemetry:
      '*': *ref_3_2_0
      nextjs: missing_feature
      uds-express4: *ref_3_7_0
    Test_TelemetrySCAEnvVar: missing_feature
    Test_TelemetryV2: *ref_4_21_0
