tests/:
  apm_tracing_e2e/:
    test_otel.py:
      Test_Otel_Span: missing_feature (missing /e2e_otel_span endpoint on weblog)
    test_single_span.py:
      Test_SingleSpan: missing_feature (missing /e2e_otel_span endpoint on weblog)
  appsec/:
    iast/:
      sink/:
        test_xss.py:
          TestXSS:
            '*': missing_feature
    waf/:
      test_addresses.py:
        Test_BodyJson: missing_feature
        Test_BodyXml: missing_feature
        Test_ClientIP: missing_feature
        Test_Headers: v0.68.3  # probably sooner, but was flaky
        Test_Method: missing_feature
        Test_UrlRaw: v0.68.3  # probably sooner, but was flaky
      test_rules.py:
        Test_CommandInjection: v0.68.3  # probably sooner, but was flaky
        Test_NoSqli: v0.68.3  # probably sooner, but was flaky
        Test_SQLI: v0.68.3  # probably sooner, but was flaky
      test_telemetry.py:
        Test_TelemetryMetrics: missing_feature
    test_PII.py:
      Test_Scrubbing: missing_feature
    test_automated_login_events.py:
      Test_Login_Events: v0.89.0
      Test_Login_Events_Extended: v0.89.0
    test_blocking_addresses.py:
      Test_BlockingGraphqlResolvers: missing_feature
      Test_Blocking_request_body: irrelevant (Php does not accept url encoded entries without key)
      Test_Blocking_response_headers: irrelevant (On php it is not possible change the status code once its header is sent)
      Test_Blocking_response_status: irrelevant (On php it is not possible change the status code once its header is sent)
    test_client_ip.py:
      Test_StandardTagsClientIp: v0.81.0
    test_identify.py:
      Test_Basic: v0.85.0
    test_logs.py:
      Test_StandardizationBlockMode: missing_feature
    test_reports.py:
      Test_ExtraTagsFromRule: v0.88.0
      Test_Info: v0.68.3  # probably 0.68.2, vut was flaky
    test_shell_execution.py:
      Test_ShellExecution: missing_feature
    test_user_blocking_full_denylist.py:
      Test_UserBlocking_FullDenylist: v0.86.3
  debugger/:
    test_debugger.py:
      Test_Debugger_Line_Probe_Snaphots: irrelevant
      Test_Debugger_Method_Probe_Snaphots: irrelevant
      Test_Debugger_Mix_Log_Probe: irrelevant
      Test_Debugger_Probe_Statuses: irrelevant
  integrations/:
    test_crossed_integrations.py:
      Test_PythonKafka: missing_feature
    test_db_integrations_sql.py:
      Test_MsSql: missing_feature
      Test_MySql: missing_feature
      Test_Postgres: missing_feature
    test_dbm.py:
      Test_Dbm: v0.91.1
    test_dsm.py:
      Test_DsmHttp: missing_feature
      Test_DsmKafka: missing_feature
      Test_DsmRabbitmq: missing_feature
      Test_DsmRabbitmq_FanoutExchange: missing_feature
      Test_DsmRabbitmq_TopicExchange: missing_feature
  parametric/:
    test_dynamic_configuration.py:
      TestDynamicConfigV1: missing_feature
      TestDynamicConfigV2: missing_feature
    test_otel_span_methods.py:
        Test_Otel_Span_Methods: v0.94.0
    test_otel_span_with_w3c.py:
        Test_Otel_Span_With_W3c: v0.94.0
    test_otel_tracer.py:
        Test_Otel_Tracer: v0.94.0
    test_span_links.py: missing_feature
    test_trace_sampling.py:
      Test_Trace_Sampling_Basic: v0.68.3 # TODO what is the earliest version?
      Test_Trace_Sampling_Globs: v0.96.0
      Test_Trace_Sampling_Resource: v0.96.0
      Test_Trace_Sampling_Tags: v0.96.0
    test_tracer.py:
      Test_TracerSCITagging: missing_feature
    test_tracer_flare.py:
      TestTracerFlareV1: missing_feature
  remote_config/:
    test_remote_configuration.py:
      Test_RemoteConfigurationExtraServices: missing_feature
      Test_RemoteConfigurationUpdateSequenceASMDDNoCache: irrelevant (cache is implemented)
      Test_RemoteConfigurationUpdateSequenceFeaturesNoCache: irrelevant (cache is implemented)
      Test_RemoteConfigurationUpdateSequenceLiveDebugging: missing_feature
      Test_RemoteConfigurationUpdateSequenceLiveDebuggingNoCache: missing_feature
  test_distributed.py:
    Test_DistributedHttp: missing_feature
  test_identify.py:
    Test_Basic: v0.85.0
    Test_Propagate: v0.85.0
    Test_Propagate_Legacy: v0.85.0
  test_library_conf.py:
    Test_HeaderTags: v0.68.2
    Test_HeaderTags_Colon_Leading: v0.74.0
    Test_HeaderTags_Colon_Trailing: v0.74.0
    Test_HeaderTags_Long: missing_feature
    Test_HeaderTags_Short: v0.74.0
    Test_HeaderTags_Whitespace_Header: v0.74.0
    Test_HeaderTags_Whitespace_Tag: missing_feature
    Test_HeaderTags_Whitespace_Val_Long: missing_feature
    Test_HeaderTags_Whitespace_Val_Short: v0.74.0
  test_profiling.py:
    Test_Profile: bug (Not receiving profiles)
  test_sampling_rates.py:
    Test_SamplingDecisions: v0.71.0
  test_scrubbing.py:
    Test_UrlQuery: v0.76.0
  test_semantic_conventions.py:
    Test_MetricsStandardTags: v0.83.1
  test_standard_tags.py:
    Test_StandardTagsMethod: v0.75.0
    Test_StandardTagsRoute: missing_feature
    Test_StandardTagsStatusCode: v0.75.0
    Test_StandardTagsUrl: v0.76.0
    Test_StandardTagsUserAgent: v0.75.0
  test_telemetry.py:
    Test_DependencyEnable: missing_feature
    Test_Log_Generation: missing_feature
    Test_MessageBatch: missing_feature
    Test_Metric_Generation_Disabled: missing_feature
    Test_Metric_Generation_Enabled: missing_feature
    Test_ProductsDisabled: missing_feature
    Test_Telemetry: v0.90
    Test_TelemetryV2: v0.90
