# yaml-language-server: $schema=https://raw.githubusercontent.com/DataDog/system-tests/refs/heads/main/utils/manifest/schema.json
---
manifest:
  tests/appsec/api_security/test_endpoint_fallback.py: missing_feature
  tests/appsec/api_security/test_schemas.py::Test_Scanners:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Request_Cookies:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Request_FormUrlEncoded_Body:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Request_Headers:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Request_Json_Body:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Request_Path_Parameters:
    - weblog_declaration:
        "*": v8.113.0
        alb: missing_feature
        alb-multi: missing_feature
        function-url: missing_feature
  tests/appsec/api_security/test_schemas.py::Test_Schema_Request_Query_Parameters:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Response_Body:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Response_Headers:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/api_security/test_schemas.py::Test_Schema_Response_on_Block:
    - weblog_declaration:
        "*": v8.113.0
        alb: v8.121.0  # Modified by easy win activation script
        alb-multi: v8.121.0  # Modified by easy win activation script
        function-url: v8.121.0  # Modified by easy win activation script
  tests/appsec/rasp/test_api10.py::Test_API10_all: bug (APPSEC-60508)
  tests/appsec/rasp/test_api10.py::Test_API10_downstream_request_tag: missing_feature
  tests/appsec/rasp/test_api10.py::Test_API10_downstream_ssrf_telemetry: missing_feature
  tests/appsec/rasp/test_api10.py::Test_API10_redirect: bug (APPSEC-60508)
  tests/appsec/rasp/test_api10.py::Test_API10_redirect_status: missing_feature
  tests/appsec/rasp/test_api10.py::Test_API10_request_body: bug (APPSEC-61151)
  tests/appsec/rasp/test_api10.py::Test_API10_request_headers: bug (APPSEC-60508)
  tests/appsec/rasp/test_api10.py::Test_API10_request_method: v8.117.0.dev
  tests/appsec/rasp/test_api10.py::Test_API10_response_body: bug (APPSEC-61151)
  tests/appsec/rasp/test_api10.py::Test_API10_response_headers: v8.117.0.dev
  tests/appsec/rasp/test_api10.py::Test_API10_response_status: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_BodyJson: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_BodyUrlEncoded: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_BodyXml: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Capability: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Mandatory_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Optional_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Rules_Version: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_StackTrace: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Telemetry: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Telemetry_V2: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Telemetry_Variant_Tag: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_UrlQuery: v8.117.0.dev
  tests/appsec/rasp/test_cmdi.py::Test_Cmdi_Waf_Version: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_BodyJson: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_BodyUrlEncoded: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_BodyXml: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Capability: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Mandatory_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Optional_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_RC_CustomAction: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Rules_Version: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_StackTrace: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Telemetry: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Telemetry_Multiple_Exploits: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Telemetry_V2: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_lfi.py::Test_Lfi_UrlQuery: v8.117.0.dev
  tests/appsec/rasp/test_lfi.py::Test_Lfi_Waf_Version: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_BodyJson: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_BodyUrlEncoded: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_BodyXml: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_Capability: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_Mandatory_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_Optional_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_Rules_Version: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_StackTrace: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_Telemetry: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_shi.py::Test_Shi_Telemetry_V2: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_shi.py::Test_Shi_Telemetry_Variant_Tag: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_shi.py::Test_Shi_UrlQuery: v8.117.0.dev
  tests/appsec/rasp/test_shi.py::Test_Shi_Waf_Version: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_BodyJson: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_BodyUrlEncoded: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_BodyXml: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Capability: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Mandatory_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Optional_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Rules_Version: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_StackTrace: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Telemetry: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Telemetry_V2: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_sqli.py::Test_Sqli_UrlQuery: v8.117.0.dev
  tests/appsec/rasp/test_sqli.py::Test_Sqli_Waf_Version: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_BodyJson: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_BodyUrlEncoded: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_BodyXml: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Capability: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Mandatory_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Optional_SpanTags: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Rules_Version: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_StackTrace: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Telemetry: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Telemetry_V2: missing_feature (telemetry is not available in Lambda yet)
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_UrlQuery: v8.117.0.dev
  tests/appsec/rasp/test_ssrf.py::Test_Ssrf_Waf_Version: v8.117.0.dev
  tests/appsec/test_alpha.py::Test_Basic: v7.112.0
  tests/appsec/test_blocking_addresses.py::Test_Blocking_client_ip:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_client_ip_with_K8_private_ip:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_client_ip_with_forwarded: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_body:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_body_multipart:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_cookies:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_headers:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_method:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_path_params:
    - weblog_declaration:
        "*": v8.113.0
        alb: irrelevant (application-load-balancer event type does not support path params)
        alb-multi: irrelevant (application-load-balancer event type does not support path params)
        function-url: irrelevant (function-url event type does not support path params)
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_query:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_request_uri:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_response_headers:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_response_status:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Blocking_user_id:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Suspicious_Request_Blocking:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_blocking_addresses.py::Test_Suspicious_Request_Blocking::test_blocking:
    - weblog_declaration:
        alb: irrelevant (function-url event type does not support path params)
        alb-multi: irrelevant (function-url event type does not support path params)
        function-url: irrelevant (function-url event type does not support path params)
  tests/appsec/test_blocking_addresses.py::Test_Suspicious_Request_Blocking::test_blocking_before:
    - weblog_declaration:
        alb: irrelevant (function-url event type does not support path params)
        alb-multi: irrelevant (function-url event type does not support path params)
        function-url: irrelevant (function-url event type does not support path params)
  tests/appsec/test_conf.py::Test_ConfigurationVariables_New_Obfuscation: v8.113.0
  tests/appsec/test_extended_request_body_collection.py::Test_ExtendedRequestBodyCollection: missing_feature
  tests/appsec/test_fingerprinting.py::Test_Fingerprinting_Endpoint_Preprocessor:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_fingerprinting.py::Test_Fingerprinting_Header_And_Network_Preprocessor:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_fingerprinting.py::Test_Fingerprinting_Session_Preprocessor:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/test_inferred_spans.py::Test_Lambda_Inferred_Span_Tags:
    - weblog_declaration:
        "*": irrelevant (only api gateway inferred spans are specified for now)
        apigw-http: v8.121.0
        apigw-rest: v8.121.0
  tests/appsec/test_only_python.py::Test_ImportError: v7.112.0
  tests/appsec/test_reports.py::Test_ExtraTagsFromRule: v7.112.0
  tests/appsec/test_reports.py::Test_Info: v7.112.0
  tests/appsec/test_reports.py::Test_RequestHeaders: v7.112.0
  tests/appsec/test_reports.py::Test_StatusCode: v7.112.0
  tests/appsec/test_trace_tagging.py::Test_TraceTaggingRules: v8.113.0
  tests/appsec/test_traces.py::Test_AppSecEventSpanTags: v7.112.0
  tests/appsec/test_traces.py::Test_AppSecEventSpanTags::test_header_collection: bug (APPSEC-58202)
  tests/appsec/test_traces.py::Test_AppSecObfuscator: v7.112.0
  tests/appsec/test_traces.py::Test_CollectDefaultRequestHeader: v7.112.0
  tests/appsec/test_traces.py::Test_CollectRespondHeaders: v7.112.0
  tests/appsec/test_traces.py::Test_CollectRespondHeaders::test_header_collection: bug (APPSEC-58202)
  tests/appsec/test_traces.py::Test_ExternalWafRequestsIdentification: v7.112.0
  tests/appsec/test_traces.py::Test_RetainTraces: v7.112.0
  tests/appsec/test_versions.py::Test_Events: v7.112.0
  tests/appsec/waf/test_blocking.py::Test_Blocking:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/waf/test_blocking.py::Test_Blocking::test_accept_full_html: bug (APPSEC-61196)
  tests/appsec/waf/test_blocking.py::Test_Blocking::test_accept_partial_html: bug (APPSEC-61196)
  tests/appsec/waf/test_blocking.py::Test_Blocking::test_html_template_v2: bug (APPSEC-61196)
  tests/appsec/waf/test_blocking.py::Test_Blocking_strip_response_headers:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/waf/test_blocking.py::Test_CustomBlockingResponse:
    - weblog_declaration:
        "*": v8.113.0
        alb-multi: v8.114.0.dev
  tests/appsec/waf/test_reports.py::Test_Monitoring::test_waf_monitoring_optional: irrelevant (optional tags)
  tests/integrations/test_cassandra.py::Test_Cassandra: missing_feature (Endpoint is not implemented on weblog)
  tests/integrations/test_db_integrations_sql.py::_BaseDatadogDbIntegrationTestClass::test_db_jdbc_drive_classname: missing_feature (Apply only java)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Aiomysql: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_MysqlConnector: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Mysqldb: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Psycopg: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Batch_Python_Pymysql: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_NodeJS_mysql2: irrelevant (These are nodejs only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_NodeJS_pg: irrelevant (These are nodejs only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Aiomysql: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Asyncpg: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_MysqlConnector: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Mysqldb: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Psycopg: irrelevant (These are python only tests.)
  tests/integrations/test_dbm.py::Test_Dbm_Comment_Python_Pymysql: irrelevant (These are python only tests.)
  tests/integrations/test_dsm.py::Test_DsmKafka::test_dsm_kafka_without_cluster_id: irrelevant
  tests/integrations/test_mongo.py::Test_Mongo: missing_feature (Endpoint is not implemented on weblog)
  tests/integrations/test_sql.py::Test_Sql: missing_feature (Endpoint is not implemented on weblog)
  tests/otel_tracing_e2e/test_e2e.py::Test_OTelLogE2E: irrelevant
  tests/otel_tracing_e2e/test_e2e.py::Test_OTelMetricE2E: irrelevant
  tests/otel_tracing_e2e/test_e2e.py::Test_OTelTracingE2E: irrelevant
  tests/parametric/test_otel_logs.py::Test_FR07_Host_Name::test_hostname_from_dd_hostname: irrelevant (DD_HOSTNAME is only supported in Python)
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Write_Log::test_create_logger: incomplete_test_app (Logs endpoint is only implemented in python and node.js app)
  tests/parametric/test_parametric_endpoints.py::Test_Parametric_Write_Log::test_write_log: incomplete_test_app (Logs endpoint is only implemented in python and node.js app)
  tests/parametric/test_telemetry.py::Test_TelemetrySCAEnvVar::test_telemetry_sca_enabled_propagated_specifics: irrelevant
  tests/parametric/test_tracer.py::Test_ProcessTags_ServiceName: missing_feature
  tests/test_library_logs.py::Test_NoExceptions::test_dotnet: irrelevant (only for .NET)
  tests/test_library_logs.py::Test_NoExceptions::test_java_logs: irrelevant (only for Java)
  tests/test_library_logs.py::Test_NoExceptions::test_java_telemetry_logs: irrelevant (only for Java)
  tests/test_resource_renaming.py: missing_feature
  tests/test_rum_injection.py: irrelevant (RUM injection only supported for Java)
  tests/test_v1_payloads.py: missing_feature
