name: Test Nix

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
    paths:
      - '*.nix'
      - 'flake.*'
  workflow_dispatch: {}
  schedule:
    - cron: "00 04 * * 0-6"

# Default permissions for all jobs
permissions: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: darwin
            cpu: arm64
            base: macos-15 # always arm64-darwin
          - os: linux
            cpu: x86_64
            base: ubuntu-24.04 # always x86_64-linux-gnu
          - os: linux
            cpu: aarch64
            base: ubuntu-24.04-arm # always aarch64-linux-gnu

    name: Test Nix (${{ matrix.platform.cpu }}-${{ matrix.platform.os }})
    runs-on: ${{ matrix.platform.base }}

    permissions:
      contents: read
      id-token: write

    env:
      SKIP_SIMPLECOV: 1
      DD_INSTRUMENTATION_TELEMETRY_ENABLED: false
      DD_REMOTE_CONFIGURATION_ENABLED: false

    steps:
      - name: Check CPU arch
        run: |
          test "$(uname -m)" = "${{ matrix.platform.cpu }}"
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # main
      - name: Print python version
        run: |
          nix develop --command which python
          nix develop --command python --version
      - name: Build runner
        run: nix develop --command ./build.sh -i runner
      - name: Test the test
        # no `docker` to actually run tests
        if: ${{ matrix.platform.os != 'darwin' }}
        run: nix develop --command ./run.sh TEST_THE_TEST

  complete:
    name: Nix (complete)
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - run: echo "DONE!"
