name: Update Telemetry Files from dd-go

on:
  schedule:
    - cron: '*/10 * * * *'  # Runs every 10 hours

  # manual button to run
  workflow_dispatch:

  # Option to trigger by webhook sent from dd-go (needs to be setup there as well)
#   repository_dispatch:
#     types: [file-changed]

jobs:
  sync-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: "Configure Git Credentials"
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Run dd-go update script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Use a custom PAT with access to both repos
        run: |
          chmod +x ./utils/telemetry/intake/update.sh
          ./utils/telemetry/intake/update.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Update files from dd-go repository'
          title: 'Update files from dd-go repository'
          body: |
            This PR was automatically created by the GitHub Action workflow.
            It contains updates from the dd-go repository.
          branch: automatically-sync-dd-go-files
          delete-branch: true
          base: main

    #       # unsure if this works https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request#enabling-auto-merge
    #   - name: Enable Pull Request Automerge
    #     run: gh pr merge --merge --auto "1"
    #     env:
    #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
